.App-header{
    display: inline;
    width:50%;
    height:10.5rem;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    flex:content;
    font-size: 2rem;
    color:rgb(247, 56, 56);
    font-weight: 900;
}
.App-header img{
    max-width:100%;
    width:8rem;
    margin:0;
}